interactions:
- request:
    body: '{"name": "mycli-hub-ns-test3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NotificationHubs/checkNamespaceAvailability","name":"mycli-hub-ns-test3","type":"Microsoft.NotificationHubs/namespaces/checkNamespaceAvailability","location":null,"tags":null,"properties":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japaneast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3","name":"mycli-hub-ns-test3","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","tags":{},"properties":{"provisioningState":"Unknown","metricId":null,"enabled":false,"namespaceType":"NotificationHub"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3","name":"mycli-hub-ns-test3","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","sku":{"name":"Free"},"tags":{},"properties":{"provisioningState":"Activating","metricId":null,"status":"Created","createdAt":"2019-12-16T15:09:31.717Z","serviceBusEndpoint":"https://mycli-hub-ns-test3.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2019-12-16T15:09:31.717Z","namespaceType":"NotificationHub"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3","name":"mycli-hub-ns-test3","type":"Microsoft.NotificationHubs/namespaces","location":"Japan
        East","kind":"NotificationHub","sku":{"name":"Free"},"tags":{},"properties":{"provisioningState":"Succeeded","metricId":null,"status":"Active","createdAt":"2019-12-16T15:09:31.717Z","serviceBusEndpoint":"https://mycli-hub-ns-test3.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2019-12-16T15:09:56.41Z","namespaceType":"NotificationHub"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "mycli-hub-test3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/checkNotificationHubAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"isAvailiable":true,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/checkNotificationHubAvailability","name":"mycli-hub-test3","type":"Microsoft.NotificationHubs/namespaces/notificationHubs/checkNotificationHubAvailability","location":null,"tags":null,"properties":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "japaneast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/notificationHubs/mycli-hub-test3?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/notificationHubs/mycli-hub-test3","name":"mycli-hub-test3","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"Japan
        East","tags":null,"properties":{"registrationTtl":"10675199.02:48:05.4775807"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/notificationHubs/mycli-hub-test3?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/notificationHubs/mycli-hub-test3","name":"mycli-hub-test3","type":"Microsoft.NotificationHubs/namespaces/notificationHubs","location":"Japan
        East","tags":null,"properties":{"registrationTtl":"10675199.02:48:05.4775807","authorizationRules":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_notificationhubs000001/providers/Microsoft.NotificationHubs/namespaces/mycli-hub-ns-test3/notificationHubs/mycli-hub-test3?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 200
      message: OK
version: 1
